.features-split {
  .section-inner {
    padding-top: $features-split--padding-t__mobile;
    padding-bottom: $features-split--padding-b__mobile;
  }

  .section-header {
    padding-bottom: $features-split-header--padding__mobile;
  }

  .course-card--wrapper {
    margin: 0 auto;
    width: 362px;
    height: 327px;
    grid-row: span 1;
    position: relative;
    box-shadow: 2.35484px 2.35484px 7.4194px rgba(0, 0, 0, 0.05);
    &:after {
      bottom: -15px;
      left: -10px;
      border-radius: 5px;
      content: "";
      position: absolute;
      z-index: -1;
      height: 105%;
      width: 104%;
      opacity: 0.2;
      -webkit-filter: blur(9px);
      -moz-filter: blur(9px);
      -o-filter: blur(9px);
      -ms-filter: blur(9px);
      filter: blur(9px);
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
  }

  .course-gradient-line {
    height: 5px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(90deg, #fccb90 0%, #d57eeb 100%);
  }

  .course-content-wrapper {
    height: 322px;
    padding: 30px 45px 0;
    border-radius: 0 0 5px 5px;
  }

  .course-title {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 500;
    font-family: Rubik;
    font-style: normal;
    background: linear-gradient(90deg, #fccb90 0%, #d57eeb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .course-annatation {
    width: 223px;
    height: 68px;
    font-size: 14px;
    line-height: 17px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    color: #a3aaaf;
  }

  .course-bottom-wrapper {
    height: 28px;
    bottom: 35px;
    position: absolute;
    display: flex;
    flex-direction: row;
  }

  .lesson-done {
    font-size: 24px;
    line-height: 28px;
    margin-right: 10px;
    border-radius: 5px;
    width: 75px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    background: #5ecba1;
    color: #fcfcfc;
  }

  .completed-text {
    font-size: 12px;
    line-height: 14px;
    width: 65px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    color: #a3aaaf;
  }

  .course-button-wrapper {
    font-size: 15.6px;
    line-height: 18px;
    display: flex;
    align-self: flex-end;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    &:after {
      height: 12px;
      margin: 3px 0 0 10px;
      width: 9px;
      background-size: 9px 12px;
      content: "";
      display: inline-block;
      vertical-align: middle;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.879394 2.31475L5.44818 6.40657L0.879394 10.4984L2.38423 11.8461L8.45785 6.40657L2.38423 0.967009L0.879394 2.31475Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='4.66862' y1='11.8461' x2='4.66862' y2='0.967009' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FCCB90'/%3E%3Cstop offset='1' stop-color='%23D57EEB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }

  .course-button {
    margin-left: 30px;
    background: linear-gradient(90deg, #fccb90 0%, #d57eeb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .lesson-wrapper {
	text-align: left;
    position: relative;
    grid-row: span 1;
    margin: 0 auto;
    width: 290px;
    height: 300px;
    padding: 35px 30px 0;
    background: white;
    box-shadow: 2.35484px 2.35484px 7.4194px rgba(0, 0, 0, 0.05);
    font-style: normal;
    font-weight: normal;
    font-weight: 500;
  }

  .lesson-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18.8387px;
    line-height: 20px;
    color: #003459;
    margin-bottom: 10px;
  }

  .lesson-desc {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14.0968px;
    line-height: 16px;
    color: #b4bbc0;
    margin-bottom: 10px;
  }

  .page-done-wrappe {
    font-size: 14.0968px;
    color: #b4bbc0;
  }

  .page-item-done {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11.2258px;
    line-height: 13px;
    margin-top: 10px;

    &:before {
      content: "";
      height: 15px;
      margin: -3px 5px 0 0;
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      background-size: 15px 15px;
    }
    color: #5ecba1;
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.24998 9.74124L4.19186 7.68312L3.30811 8.56687L6.24998 11.5087L12.3169 5.44187L11.4331 4.55812L6.24998 9.74124Z' fill='%235ECBA1'/%3E%3C/svg%3E%0A");
    }
  }

  .page-item-undone {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11.2258px;
    line-height: 13px;
    margin-top: 10px;

    &:before {
      content: "";
      height: 15px;
      margin: -3px 5px 0 0;
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      background-size: 15px 15px;
    }
    color: #b4bbc0;
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 4.06243V7.18743H10.625V5.93743H8.75V4.06243H7.5Z' fill='%23B4BBC0'/%3E%3Cpath d='M13.3075 4.37313C13.0256 3.70441 12.6163 3.09689 12.1025 2.58438C11.3247 1.80661 10.3361 1.27382 9.25875 1.05188C8.511 0.899687 7.74025 0.899687 6.9925 1.05188C5.91417 1.27241 4.92467 1.80563 4.1475 2.58501C3.63493 3.09806 3.22583 3.70492 2.9425 4.37251C2.64944 5.06539 2.49895 5.8102 2.5 6.56251L2.50062 6.57813H1.25L3.125 9.06251L5 6.57813H3.75062L3.75 6.56251C3.7482 5.69087 4.00841 4.8388 4.49688 4.11688C4.81195 3.65106 5.21309 3.2497 5.67875 2.93438C6.15246 2.61526 6.68382 2.39151 7.24312 2.27563C8.37971 2.04195 9.56257 2.26915 10.5317 2.9073C11.5008 3.54545 12.1769 4.54232 12.4112 5.67876C12.5291 6.26119 12.5291 6.86133 12.4112 7.44376C12.2969 8.00353 12.073 8.53518 11.7525 9.00813C11.5963 9.24001 11.4169 9.45813 11.2188 9.65563C10.8195 10.0544 10.3474 10.3729 9.82813 10.5938C9.56364 10.7056 9.28877 10.791 9.0075 10.8488C8.42527 10.9666 7.82535 10.9666 7.24312 10.8488C6.68394 10.7341 6.15279 10.5105 5.68 10.1906C5.44747 10.0335 5.23045 9.85457 5.03187 9.65626L4.14813 10.54C4.67008 11.0627 5.29002 11.4772 5.97244 11.7599C6.65485 12.0426 7.38634 12.1879 8.125 12.1875C8.87691 12.1872 9.62121 12.037 10.3144 11.7456C11.3191 11.3205 12.1788 10.6127 12.7887 9.70813C13.4165 8.77932 13.7514 7.68359 13.75 6.56251C13.7516 5.81035 13.6011 5.06564 13.3075 4.37313V4.37313Z' fill='%23B4BBC0'/%3E%3C/svg%3E%0A");
    }
  }

  .lesson-bottom-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 28px;
    bottom: 35px;
    right: 30px;
  }

  .lesson-button {
    display: flex;
    align-self: flex-end;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 15.6px;
    line-height: 18px;
    color: #00a7e1;
    &:after {
      content: "";
      height: 12px;
      margin: 3px 0 0 10px;
      display: inline-block;
      vertical-align: middle;
      width: 9px;
      background-size: 9px 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.879394 2.31475L5.44818 6.40657L0.879394 10.4984L2.38423 11.8461L8.45785 6.40657L2.38423 0.967009L0.879394 2.31475Z' fill='%2300A7E1'/%3E%3C/svg%3E%0A");
    }
  }

  .achievements-wrapper {
    margin: auto;
    width: 310px;
    height: 300px;
    background: #ffffff;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding-top: 66px;
  }

  .achievements-svg {
    content: "";
    height: 90px;
    width: 90px;
    margin: 0px auto 25px;
    background-size: 90px 90px;
    background-image: url("data:image/svg+xml,%3Csvg width='90' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45 7.5C24.3225 7.5 7.5 24.3225 7.5 45C7.5 65.6775 24.3225 82.5 45 82.5C65.6775 82.5 82.5 65.6775 82.5 45C82.5 24.3225 65.6775 7.5 45 7.5ZM45 75C28.4588 75 15 61.5412 15 45C15 28.4588 28.4588 15 45 15C61.5412 15 75 28.4588 75 45C75 61.5412 61.5412 75 45 75Z' fill='%235ECBA1'/%3E%3Cpath d='M37.4963 50.9513L28.8751 42.3451L23.5801 47.6551L37.5038 61.5488L62.6513 36.4013L57.3488 31.0988L37.4963 50.9513Z' fill='%235ECBA1'/%3E%3C/svg%3E%0A");
  }

  .achievements-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #003459;
    margin-bottom: 11px;
  }

  .achievements-desc {
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #b4bbc0;
  }
}

@include media("<medium") {
  .features-split {
    .section-inner {
      padding-top: $features-split--padding-t__desktop;
      padding-bottom: $features-split--padding-b__desktop;
    }

    .section-header {
      padding-bottom: $features-split-header--padding__desktop;
    }

    .course-card--wrapper {
      margin: 0 auto;
      width: 272px;
      height: 267px;
      grid-row: span 1;
      position: relative;
      box-shadow: 2.35484px 2.35484px 7.4194px rgba(0, 0, 0, 0.05);
      &:after {
        bottom: -15px;
        left: -10px;
        border-radius: 5px;
        content: "";
        position: absolute;
        z-index: -1;
        height: 105%;
        width: 104%;
        opacity: 0.2;
        -webkit-filter: blur(9px);
        -moz-filter: blur(9px);
        -o-filter: blur(9px);
        -ms-filter: blur(9px);
        filter: blur(9px);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
      }
    }

    .course-content-wrapper {
      height: 322px;
      padding: 20px 25px 0;
      border-radius: 0 0 5px 5px;
    }
    .course-title {
      text-align: left;
      font-size: 26px;
      margin-bottom: 15px;
    }

    .course-annatation {
      text-align: left;
      width: 223px;
      height: 68px;
      font-size: 12px;
    }

    .lesson-done {
      font-size: 17px;
      width: 50px;
    }

    .completed-text {
      text-align: left;
      font-size: 10px;
    }

    .course-button-wrapper {
      font-size: 13.6px;
    }

    .course-button {
      margin-left: 10px;
    }
  }
}
